apiVersion: apps/v1
kind: Deployment
metadata:
  name: tickets-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tickets
  template:
    metadata:
      labels:
        app: tickets
    spec:
      containers:
        - name: tickets
          image: kashoid/tickets-store-tickets
          env:
            - name: MONGODB_URI
              value: 'mongodb://tickets-mongo-service:27017/tickets'
            - name: JWT_SIGN
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SIGN
